In [13]:
import numpy as np

import pandas as pd

import seaborn as sns


file_path = 'C:/Users/7kingdom/Downloads/iris/iris.data'

column_names = ["sepal length in cm", "sepal width in cm", "petal length in cm", "petal width in cm", "class"]          

df = pd.read_csv(file_path, header=None, names=column_names)

df

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [14]:
df = df.drop(columns=['class'])

df

,sepal length in cm,sepal width in cm,petal length in cm,petal width in cm
0,5.1,3.5,1.4,0.2
1,4.9,3.0,1.4,0.2
2,4.7,3.2,1.3,0.2
3,4.6,3.1,1.5,0.2
4,5.0,3.6,1.4,0.2
...,...,...,...,...
145,6.7,3.0,5.2,2.3
146,6.3,2.5,5.0,1.9
147,6.5,3.0,5.2,2.0
148,6.2,3.4,5.4,2.3
149,5.9,3.0,5.1,1.8

In [15]:
x = df.drop(columns=['petal width in cm'])

x

     sepal length in cm  sepal width in cm  petal length in cm
0                   5.1                3.5                 1.4
1                   4.9                3.0                 1.4
2                   4.7                3.2                 1.3
3                   4.6                3.1                 1.5
4                   5.0                3.6                 1.4
..                  ...                ...                 ...
145                 6.7                3.0                 5.2
146                 6.3                2.5                 5.0
147                 6.5                3.0                 5.2
148                 6.2                3.4                 5.4
149                 5.9                3.0                 5.1

[150 rows x 3 columns]

In [16]:
y = df["petal width in cm"]

y

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal width in cm, Length: 150, dtype: float64

In [17]:

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((120, 3), (30, 3), (120,), (30,))

In [18]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [19]:
svm_regressor = SVR()
svm_regressor.fit(x_train, y_train)  

svm_predictions = svm_regressor.predict(x_test)

svm_mse = mean_squared_error(y_test, svm_predictions)
print("SVM MSE:", svm_mse)

SVM MSE: 0.038487836531251006

In [20]:
lr_regressor = LinearRegression()
lr_regressor.fit(x_train, y_train) 

lr_predictions = lr_regressor.predict(x_test)

lr_mse = mean_squared_error(y_test, lr_predictions)
print("Linear Regression MSE:", lr_mse)

Linear Regression MSE: 0.04643810173004902

In [21]:
dt_regressor = DecisionTreeRegressor()
dt_regressor.fit(x_train, y_train)

dt_predictions = dt_regressor.predict(x_test)

dt_mse = mean_squared_error(y_test, dt_predictions)
print("Decision Tree MSE:", dt_mse)

Decision Tree MSE: 0.10200000000000001

In [22]:
rf_regressor = RandomForestRegressor()
rf_regressor.fit(x_train, y_train)  

rf_predictions = rf_regressor.predict(x_test)

rf_mse = mean_squared_error(y_test, rf_predictions)
print("Random Forest MSE:", rf_mse)

Random Forest MSE: 0.04623163425925915